@font-face {
  src: url(Montserrat-Bold.ttf);
  font-family: mont;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: #161616;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 3rem;
  margin: 0;
}
.ramplogo {
  font-family: "Montserrat", sans-serif;
}

.logo {
  float: left;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: #161616;
  z-index: 1;
  top: 0;
  left: 0;
}

.menu-wrap {
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #191919;
  max-width: 1000;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  width: 50px;
  height: 50px;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: blue;*/
}
/*hamburger*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/*top and bottom*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
/*moves line down*/
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/*turn lines into X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .main > ul {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .main > ul > li > a {
  transform: scale(1);
  transition-duration: 0.75s;
  opacity: 1;
  transition: opacity 0.4 ease;
}

.menu-wrap .main > ul {
  list-style-type: none;
  position: absolute;
  right: 10px;
  top: 0;
  visibility: hidden;
}

.menu-wrap .main > ul > li > a {
  text-decoration: none;
  width: 100px;
  color: #f7f7f7;
  display: block;
  padding: 20px 15px 15px 30px;
  background-color: #0d0d0d;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .main > ul > li > a:hover {
  background-color: #1d2426;
  color: #95989a;
}
.menu-wrap .main > ul > li > a {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.clearfix {
  clear: both;
}
@media (min-width: 1200px) {
  .first {
    top: 180px;
    position: relative;
    float: left;
    margin-left: 20px;
    z-index: 0;
  }
}

@media (max-width: 1200px) {
  .first {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 0%;
  }
}
@media (min-width: 1200px) {
  .first > h4 {
    margin: 0;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .first > h4 {
    margin:0;
    text-align: center;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;

  }
}
@media (min-width: 1200px) {
  .first > h2 {
    margin: 0;
    font-size: 42px;
    line-height: 1em;
    color: #f7f7f7;
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .first > h2 {
    margin: 0;
    font-size: 50px;
    line-height: 1em;
    color: #f7f7f7;
  }
}
@media (min-width: 1200px) {
  .first > p {
    margin: 10px 0px 0px 20px;
    color: #dedede;
    font-size: 17px;
    max-width: 400px;
    line-height: 1.5;
  }
}
@media (max-width: 1200px) {
  .first > p {
    color: #dedede;
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .first .high {
    margin: 0;
    font-size: 15px;
    line-height: 1em;
    color: #f7f7f7;
    margin-left: 60px;
    margin-top: 10px;
    position: absolute;
  }
}
@media (max-width: 1200px) {
  .first .high {
    text-align: center;
    font-size: 15px;
    line-height: 1em;
    color: #f7f7f7;
  }
}
@media (min-width: 1200px) {
  .second {
    float: right;
    max-width: 500px;
    position: relative;
    margin-top: 540px;
  }
}

@media (max-width: 1200px) {
  .second {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .second > h4 {
    margin: 0;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .second > h4 {
    margin: 0px;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .second > h2 {
    margin:0;
    font-size: 50px;
    line-height: 1em;
    color: #f7f7f7;
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .second > h2 {
    margin:0;
    font-size: 50px;
    line-height: 1em;
    color: #f7f7f7;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .clearfix {
    clear: both;
  }
}
@media (max-width: 1200px) {
  .clearfix {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .second > p {
    margin: 10px 0px 0px 20px;
    color: #dedede;
    font-size: 17px;
    max-width: 400px;
    line-height: 1.5;
  }
}
@media (max-width: 1200px) {
  .second > p {
    color: #dedede;
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .second .high {
    margin: 0;
    font-size: 15px;
    line-height: 1em;
    color: #f7f7f7;
    margin-left: 60px;
    margin-top: 10px;
    position: absolute;
  }
}
@media (max-width: 1200px) {
  .second .high {
    font-size: 15px;
    line-height: 1em;
    color: #f7f7f7;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .mission {
    max-width: 20%;
    max-height: 20%;
    margin-left: 0px;
    position: absolute;
    margin-top: 18px;
  }
}
@media (max-width: 1200px) {
  .mission {
    max-width: 20%;
    max-height: 20%;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .second .our-tool {
    float: right;
    margin-left: 70px;
    position: absolute;
    color: #f7f7f7;
  }
}
@media (max-width: 1200px) {
  .second .our-tool {
    text-align: center;
    color: #f7f7f7;
  }
}
@media (min-width: 1200px) {
  .about-us {
    margin: 0;
    max-width: auto;
    position: relative;
    top: 900px;
    padding: 17px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .about-us {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .about-us > h3 {
    margin: 0;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .about-us > h3 {
    margin:0px;
    font-size: 15px;
    line-height: 1em;
    color: #ababab;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .about-us > h2 {
    font-size: 50px;
    margin: 0;
    line-height: 1em;
    color: white;
    margin-left: 20px;
    font-weight: bold;
  }
}
@media (max-width: 1200px) {
  .about-us > h2 {
    margin:0;
    font-size: 50px;
    text-align: center;
    color: white;
  }
}
@media (min-width: 1200px) {
  p.history {
    color: #dedede;
    font-size: 18px;
    width: 97%;
    margin: 0px;
    margin-top: 10px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    line-height: 1.5;
  }
}
@media (max-width: 1200px) {
  p.history {
    color: #dedede;
    font-size: 14px;
    text-align: center;
  }
}

